<!DOCTYPE html>
<html>
  <head>
    <title>Chat AI</title>
    <%= stylesheet_link_tag 'chat' %>
  </head>

  <body>
    <main>
      <h1>Chat AI</h1>
      <%= form_tag('/chat', method: :get) do %>
        <%= text_field_tag(:message, params[:message], placeholder: "Digite sua mensagem") %>
        <%= submit_tag 'Enviar', class: 'button'%>

      <% end %>

      <% if @response.present? %>
        <p><strong>Você disse:</strong> <%= @message %></p>
        <p class="response"><strong>O ChatAI respondeu:</strong> <%= simple_format(@response) %></p>
      <% end %>
    </main>
  </body>
</html>
