<!DOCTYPE html>
<html>
  <head>
    <title>Chat AI</title>
  </head>
  <body>
    <main>
      <h1>Chat AI</h1>
      <%= form_tag('/chat', method: :get) do %>
        <%# Não estava pegando o estilo no arquivo css, por algum motivo %>
        <textarea name="message" placeholder="Digite sua mensagem" class="message-box" style="resize: both; height: 150px; width: 100%; padding: 12px 20px; border: 2px solid #ccc; box-sizing: border-box; border-radius: 4px;"><%= params[:message] %></textarea>
        <%= submit_tag 'Enviar', class: 'button'%>
      <% end %>
      <% if @response.present? %>
        <div class="message-info">
          <p><strong>Você disse:</strong> <%= @message %></p>
          <p><strong>O ChatAI respondeu:</strong></p>
        </div>
        <div class="response">
          <%= simple_format(@response) %>
        </div>
      <% end %>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const loading = document.getElementById("loading");

        document.querySelector("form").addEventListener("submit", () => {
          loading.style.display = "flex";
        });
      });

    </script>
  </body>
</html>
