<!DOCTYPE html>
<html>
  <head>
    <title>Variação de imagem</title>
    <%= stylesheet_link_tag 'image_variants', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="image-variants">
      <h1>Variação de imagem</h1>
      <%= form_tag '/image_variants', method: 'post', multipart: true, id: 'image-variants-form' do %>
        <%= file_field_tag :image, id: 'image-file-input' %>

        <%= submit_tag 'Gerar variações', class: 'button'%>
      <% end %>
      <ul class="result" id="variants">
        <!-- A imagens geradas serão exibidas aqui -->
      </ul>
      
      <div id="message"></div>
    </main>
    <%= javascript_pack_tag 'image_variants' %>

  </body>
</html>
