<!DOCTYPE html>
<html>
  <head>
    <title>Variação de imagem</title>
    <%= stylesheet_link_tag 'image_variants' %>
  </head>

  <body>
    <main>
      <h1>Variação de imagem</h1>
      <%= form_tag '/image_variants', method: 'post', multipart: true, id: 'image-variants-form' do %>
        <%= file_field_tag :image, id: 'image-file-input' %>

        <%= submit_tag 'Enviar', class: 'button'%>
      <% end %>
      <ul class="result" id="variants">
        <!-- A imagens geradas serão exibidas aqui -->
      </ul>
      
      <div id="message"></div>
    </main>
    <script src="<%= asset_pack_path 'image_variants.js' %>"></script>
  </body>
</html>
